<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legends for Hire</title>

    <script src="https://www.google-analytics.com/analytics.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Styles/base.min.css" type="text/css" />
</head>
<body>
    @Html.React("_Navigation", new { })

    <div id="main">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)

    @Html.ReactInitJavaScript()

</body>
</html>
